@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;500;600;700;800&family=Space+Grotesk:wght@400;500;700;800&display=swap");

.font-headline {
  font-family: "Archivo Black", sans-serif;
}

.font-body {
  font-family: "Inter", sans-serif;
}

.font-label {
  font-family: "Space Grotesk", sans-serif;
}
